<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/card.css">
    <title>Quiz!</title>
</head>
<body>
    <h1>Who is the best?</h1>
    <div class="card-container">
        <div class="card" id="iron">
            <h2>Iron Man</h2>
            <img src="/static/images/iron.png" class="card-image">
            <a href="/quiz" class="card-button">Iron Man?</a>
        </div>
        <div class="card" id="thor">
            <h2>Thor</h2>
            <img src="/static/images/thor.png" class="card-image">
            <a href="/quiz" class="card-button">Thor?</a>
        </div>
        <div class="card" id="rick">
            <h2>Rick Astley</h2>
            <img src="/static/images/rick.png" class="card-image">
            <a href="/quiz" class="card-button">Rick!</a>
        </div>
    </div>
</body>
</html>
